<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\\logs\\internal\\telemetry-device-internal.log"
      internalLogLevel="Info">

  <targets>
    <!-- write logs to the files -->
    <target xsi:type="File" name="telemetry_device_logs" fileName="c:\\logs\\TelemetryDevicelogs.log"  deleteOldFileOnStartup="true">
      <layout xsi:type="JsonLayout">
        <attribute name="Timestamp" layout="${longdate}" />
        <attribute name="Level" layout="${level}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="IPAddress" layout="${event-properties:item=IPAddress}" />
        <attribute name="Hostname" layout="${machinename}" />
        <attribute name="ProjectName" layout="${scopeproperty:ProjectName}" />
        <attribute name="Id" layout="${event-properties:item=Id}" />
      </layout>
    </target>
    <target xsi:type="File" name="icd_decryptor_logs" fileName="c:\\logs\\IcdDecryptorLogs.log"  deleteOldFileOnStartup="true">
      <layout xsi:type="JsonLayout">
        <attribute name="Timestamp" layout="${longdate}" />
        <attribute name="Level" layout="${level}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="IPAddress" layout="${event-properties:item=IPAddress}" />
        <attribute name="Hostname" layout="${machinename}" />
        <attribute name="ProjectName" layout="${scopeproperty:ProjectName}" />
        <attribute name="Id" layout="${event-properties:item=Id}" />
      </layout>
    </target>

  </targets>
  <rules>
    <logger name="telemetry_device*" minlevel="Info" writeTo="telemetry_device_logs" />
    <logger name="telemetry_device_main*" minlevel="Info" writeTo="icd_decryptor_logs" />
    
  </rules>
</nlog>